* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scroll-bar-off {
  scrollbar-width: none;
}

.scroll-bar-off::-webkit-scrollbar {
  display: none;
}
